
.nav_button{
    background-color: #535353 !important;
    color: #ffffff !important;
    margin: 4px;
}

.nav_button:hover, .nav_button:active {
    background-color: #3b3b3b !important;
}


/* BODY */

h1 {
    font-size: large;
    padding: 10px 0 40px 0;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: medium;
}



body{
    background: cadetblue;
    font-family: 'Merriweather', serif;
    color: black;
}


.myButton{
    background-color: grey;
    color: white;
}

.myButton:hover{
    background-color: dimgrey;
    color: white;
}

