{% extends "base.html" %}
{% load static %}

{% block title %} Events {% endblock %}

{% block content %}

    <h2>You have registered to:</h2>

    <ul class="col-md-4 col-sd-6">
        <h3>Title: {{ event.title }}</h3>
        <img src="{{ event.thumbnail_path.url }}" class="img-fluid rounded" alt="pictures">

    This is your reservation number. You can use this number to unregister from event, but NO LATER than 2 days before this event
    {{ reservation_nr }}
    </ul>



{% endblock %}