{% extends "base.html" %}
{% load static %}

{% block title %} Events {% endblock %}

{% block content %}

    <h2>Available events are listed below</h2>

    {% for event in events %}
                    <ul class="col-md-4 col-sd-6">
                        <h3>Title: {{ event.title }}</h3>
                        <img src="{{ event.thumbnail_path.url }}" class="img-fluid rounded" alt="pictures">
                       <li class="myButton"> <a href="{% url 'register' event.pk %}">Register for this event</a></li>
                    </ul>
    {% endfor %}

{% endblock %}