{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}

    <div class="container-fluid col-md-3">
        <h2>Registration</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form  }}
            <input  type="submit" value="Submit" class="btn btn-light myButton">
        </form>
    </div>

{% endblock %}